.cabecalho {
    border: 2px solid rgb(148, 148, 148);
    background-color: rgba(221, 221, 221, 0.384);
    position: fixed;
    min-width: 270px;
    height: 100vh;
}

.infos {
    background-color: aliceblue;
    margin-left: 270px;
    padding: 50px;
}

nav {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.cabecalho a {
    color: black;
    text-decoration: none;
    padding: 10px 0;
}

.opcoes {
    margin-top: 50px;
    padding: 10px;
}

.opcoes li {
    list-style: none;
    margin: 60px 0;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
    font-family: serif;
    
}

.opcoes li:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}