/* ---------- cabeçalho NAV --------------- */

.cabecalho {
    border: 2px solid rgb(148, 148, 148);
    background-color: antiquewhite;
    position: fixed;
    min-width: 270px;
    height: 100vh;
}

nav {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.cabecalho a {
    color: black;
    text-decoration: none;
    padding: 10px 0;
}

.opcoes {
    margin-top: 50px;
    padding: 10px;
}

.opcoes li {
    list-style: none;
    margin: 30px 0;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
    font-family: serif;
    padding: 10px 0;
}

.opcoes li:hover {
    cursor: pointer;
    transform: scaleX(1.009);
    transition: .2s ease-in-out;
    background-color: rgba(245, 245, 245, 0.7);
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.5);
}


/* ----------- meio, informações ------------- */


.infos {
    background-color: aliceblue;
    margin-left: 270px;
    padding: 50px;
}

.infos section {
    width: 100%;
    height: auto;
    padding: 5px;
}

.infos h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin: 20px 0;
}

.infos p {
    width: 100%;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-indent: 10px;
}

.infos h3 {
    margin-top: 15px;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.infos ul {
    width: 100%;
    margin-top: 10px;
}

.infos li {
    width: 100%;
    margin-left: 30px;
    margin-top: 10px;
    list-style: disc;
}

.infos h4 {
    margin-top: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4)
}

.infos pre {
    max-width: 100%;
    overflow-x: auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.infos code {
    font-family: monospace;
    font-size: 16px;
}


/* --------------- rodape --------------- */

footer {
    background-color: rgba(224, 230, 236, 0.849);
    margin-left: 270px;
    padding: 30px;
    border-radius: 3px;
}

.foot-info {
    width: 100%;
    height: auto;
    text-align: end;
}

.ref {
    width: auto;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-right: 15px;
    text-decoration: underline;
}

.vis {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.vis a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s ease-in-out;
}

.vis a:hover {
    cursor: pointer;
    color: rgb(0, 0, 204);
    text-shadow: 0 0 1px blue;
}



/* --------------- media -------------- */


@media (max-width: 800px), (max-height: 740px) {

    /* Cabeçalho NAV */

    .container-filho {
        width: auto;
        height: auto;
        margin: 10px;
    }

    .hamb { 
        position: absolute;
        background-color: rgba(116, 105, 92, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        align-items: center;
        width: 30px;
        height: 30px;
        margin: 5px;
        padding: 5px;
        border-radius: 2px 5px 2px 5px;
        z-index: 10;
        transition: .2s ease-in-out all;
    }

    .hamb:hover {
        cursor: pointer;
        background-color: rgba(116, 105, 92, 0.3);
        transform: scale(1.009);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    #hamb-check:checked + .hamb {
        cursor: pointer;
        background-color: rgba(116, 105, 92, 0.3);
        transform: scale(1.009);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
   
    .hamb-lin {
        background-color: black;
        width: 100%;
        height: 3px;
    }

    #hamb-check:checked + .hamb .lin:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px);
        transition: .2s ease-in-out all;
    }
    
    #hamb-check:checked + .hamb .lin:nth-child(2) {
        transform: rotate(-45deg);
        transition: .2s ease-in-out all;
    }

    #hamb-check:checked + .hamb .lin:nth-child(3) {
        opacity: 0;
    }

    #hamb-check:not(:checked) + .hamb .lin:nth-child(1) {
        transition: .2s ease-in-out all;
    }
    
    #hamb-check:not(:checked) + .hamb .lin:nth-child(2) {
        transition: .2s ease-in-out all;
    }

    #hamb-check:not(:checked) + .hamb .lin:nth-child(3) {
        transition: .2s ease-in-out all;
        opacity: 1;
    }

    .cabecalho {
        opacity: 0;
        height: 480px;
        width: 300px;
        background-color: antiquewhite;
        position: absolute;
    }
    
    .opcoes li {
        margin: 5px 0;
    }

    nav {
        margin-top: 30px;
    }

    .opcoes {
        margin-top: 20px;
    }

    /* infos */

    .infos {
        margin: 0;
    }

    /* rodape */
    footer {
        margin: 0;
    }
}