/* ---------- cabeçalho NAV --------------- */

.cabecalho {
    border: 2px solid rgb(148, 148, 148);
    background-color: rgba(221, 221, 221, 0.3);
    position: fixed;
    min-width: 270px;
    height: 100vh;
}

nav {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.cabecalho a {
    color: black;
    text-decoration: none;
    padding: 10px 0;
}

.opcoes {
    margin-top: 50px;
    padding: 10px;
}

.opcoes li {
    list-style: none;
    margin: 30px 0;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
    font-family: serif;
    padding: 10px 0;
    transition: .2s ease-in-out;
}

.opcoes li:hover {
    cursor: pointer;
    transform: scaleX(1.009);
    background-color: rgba(245, 245, 245, 0.7);
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.5);
}


/* ----------- meio, informações ------------- */


.infos {
    background-color: aliceblue;
    margin-left: 270px;
    padding: 50px;
}

.infos section {
    width: 100%;
    height: auto;
    padding: 5px;
}

.infos h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin: 20px 0;
}

.infos p {
    width: 100%;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-indent: 10px;
}

.infos h3 {
    margin-top: 15px;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.infos ul {
    width: 100%;
    margin-top: 10px;
}

.infos li {
    width: 100%;
    margin-left: 30px;
    margin-top: 10px;
    list-style: disc;
}

.infos h4 {
    margin-top: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4)
}

.infos pre {
    max-width: 100%;
    overflow-x: auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.infos code {
    font-family: monospace;
    font-size: 16px;
}


/* --------------- rodape --------------- */

footer {
    background-color: rgb(224, 230, 236);
    margin-left: 270px;
    padding: 30px;
    border-radius: 3px;
}